In [9]:
# Task 1: Prime Number Checker with Steps

# Write a program that checks if a number is prime.

# Use a for loop to check divisibility.

# Use if-else inside the loop to break early if a factor is found.

# Print:

# "Prime" if no factors found.

# "Not Prime (divisible by X)" if divisible by any number.



# Solution 1


# n=int(input("Enter number ="))
# l=[]
# for i in range(1,n+1):
#     if n%i==0:
#         l.append(i)
# print(f"{n} is divisable by {l}")
# if len(l)==2:
#     print(f"{n} is prime number")
# else:
#     print(f"{n} is not prime number")


#Solution 2
num=int(input("Enter number ="))
a=0
for i in range(2,num):
    if num%i==0:
        a=1
        break
if a==1:
    print(f"{num} is not prime number because it's divisable by {i}")
else:
    print(f"{num} is prime number")

17 is prime number

In [14]:
# Task 2: Advanced FizzBuzz Variant

# Loop from 1 to 100:

# If divisible by 3 and 5 → print "FizzBuzz"

# If divisible by 7 → print "Lucky"

# If divisible by 11 → print "Boom"

# Else → print the number

for i in range(1,100+1):
    if i%3==0 and i%5==0:
        print("Fizzbuzz")
    elif i%7==0:
        print("Lucky")
    elif i%11==0:
        print("Boom")
    else:
        print(i)

1
2
3
4
5
6
Lucky
8
9
10
Boom
12
13
Lucky
Fizzbuzz
16
17
18
19
20
Lucky
Boom
23
24
25
26
27
Lucky
29
Fizzbuzz
31
32
Boom
34
Lucky
36
37
38
39
40
41
Lucky
43
Boom
Fizzbuzz
46
47
48
Lucky
50
51
52
53
54
Boom
Lucky
57
58
59
Fizzbuzz
61
62
Lucky
64
65
Boom
67
68
69
Lucky
71
72
73
74
Fizzbuzz
76
Lucky
78
79
80
81
82
83
Lucky
85
86
87
Boom
89
Fizzbuzz
Lucky
92
93
94
95
96
97
Lucky
Boom
100

In [18]:
# Task 3: Student Marks Analyzer

# Take marks of n students in 3 subjects.

# Use a for loop to input marks.

# Use if-else to decide Pass/Fail (pass if avg ≥ 40 and no subject < 35).

# Print highest scorer and class average at the end.

student=int(input("enter number of student"))
averagedata=[]
student_name=[]
for i in range(1,student+1):
    stu_name=input("Enter student name = ")
    print("Result of ",stu_name)
    student_name.append(stu_name)
    s1=int(input("Enter marks of Hindi = ")) 
    s2=int(input("Enter marks of English = "))
    s3=int(input("Enter marks of Gujarati = "))

    avg=(s1+s2+s3)/3
    averagedata.append(avg)
    if avg>=40:
        print("PASS")
    else:
        print("FAIL")
print(averagedata)
print(student_name)
result=max(averagedata)
r=averagedata.index(result)
print(r)
toper_name=student_name[r]
print("Higest scorer is",toper_name)
print("Higest score of class is ",result)

Result of  avg
FAIL
Result of  er
PASS
[36.333333333333336, 58.333333333333336]
['avg', 'er']
1
Higest scorer is er
Higest score of class is  58.333333333333336

In [2]:
# Task 4 : Armstrong Number Finder

# Loop through numbers 100–999.

# Use if-else to check if the sum of cubes of digits equals the number.

# Print all Armstrong numbers.
armstrong=[]
not_arm=[]
for i in range(100,1000):
    s=str(i)
    l=list(s) 
    # print(l)
    sum=(int(l[0])**3)+(int(l[1])**3)+(int(l[2])**3)
    # print("sum =",sum)
    if sum==i:
        # print(f"{i} number is Armstrong number")
        armstrong.append(i)
    else:
        # print(f"{i} number not Armstrong number")
        not_arm.append(i)
print("Total Armstrong number is",armstrong)
print("not Armstrong",not_arm)

Total Armstrong number is [153, 370, 371, 407]
not Armstrong [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [ ]:
# Task : Armstrong Number Finder

# check user enter number is armstrong or not.

# Use if-else to check if the sum of cubes of digits equals the number.

# Print all Armstrong numbers.

nn=int(input("Enter value = "))
def armstrong(arm):
    data=str(arm)
    length=len(data)
    # print(length)
    d=list(data)
    # print(d)
    sum=0
    for i in range(length):
        # print(d[i])
        r=int(d[i])**length
        # print(r)
        sum=sum+r
    return sum
result=armstrong(nn)
print(result)
if nn==result:
    print(f"your value {nn} is armstrong")
else:
    print(f"your value {nn} is not armstrong")

1634
your value 1634 is armstrong

In [ ]:
# Task 5: Bank ATM Simulation

# User enters balance and a series of transactions (deposit/withdraw).

# Use a for loop to process transactions.

# Use if-else to validate withdrawal (balance >= amount).

# Print final balance after all transactions.

balance=int(input("Enter total balance = "))
transaction=int(input("Enter number of transactions series = "))
for i in range(transaction):
    withdrawal_amount=int(input(f"Enter amount for withdrawal = "))
    if balance>=withdrawal_amount:
        balance=balance-withdrawal_amount
        print("your current balance is ",balance)
    else:
        print("your current balance is less than withdrawal amount")
        break
print("your Final Amount in account is ",balance)

40