In [ ]:
# Tuple used to store multiple items in a single variable.
# Created using "()".-Round baracket
# collection in orderd
# immutable (unchangeble)
# indexing supporting
# Duplication allow

In [2]:
tp=(1,)
print(type(tp))

<class 'tuple'>

In [3]:
tp = (50,[8,7.5],(5,"Dvs"),{3.14,True,"Anand"},{56:"Apple"})
print(tp)

(50, [8, 7.5], (5, 'Dvs'), {'Anand', True, 3.14}, {56: 'Apple'})

In [4]:
tp=(1,2,3,4,10,20,50,100)
print(min(tp))
print(max(tp))
print(len(tp))

1
100
8

In [7]:
tp=(1,2,3,4)
print(sum(tp))

10

In [2]:
tp = (1,2,3,4,1,2,1,4,5,1,1)
print(tp.count(1))
print(tp.index(4))
print(tp[3])

5
3
4

In [11]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [14]:
tp=(1,2,3,4)
print(tp)
tp1=list(tp)
print(tp1)
tp1.append(100)
print(tp1)
tp2=tuple(tp1)
print(tp2)

(1, 2, 3, 4)
[1, 2, 3, 4]
[1, 2, 3, 4, 100]
(1, 2, 3, 4, 100)