In [ ]:
# With the while loop we can execute a set of statements as long as a condition is true.

# Syntax :-
# --> while condition:
#         Block of statement(s)

In [1]:
a=5
while a<10:
    print(a)
    a=a+1

5
6
7
8
9

In [ ]:
n = int(input("Please Enter Number (0 or 1 to stop): "))
while n>1 :
    if n%2==0:
        print("even number")
    else:
        print("Odd number")
    n = int(input("Please Enter Number (0 or 1 to stop): "))
    n=n+1

even number
even number

In [1]:
i = 1
while i <= 10:
    print(i)
    if i == 7:
        break
    i += 1

1
2
3
4
5
6
7

In [6]:


i = 10
while i > 5:
   
    if i == 7:
        continue
    print(i)
    i-= 1

10
9
8

KeyboardInterrupt:

In [3]:
n = 4
while n > 0:
    n = n - 1
    pass

In [2]:
i=1
while i <6:
    j=0
    while j<i:
        print('*',end=" ")
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [4]:
size=5
for i in range(size):
    # for j in range(1,size):
    #     print(' ',end=" ")
    for k in range(0,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [8]:
i=1
for i in range(6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
size=5
for i in range(1,size+1):
    for j in range(size-i):
        print(' ',end=" ")
    for k in range(2*i-1):
        print('*',end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [4]:
for i in range(1, 6):              # Outer loop (rows)
    for j in range(1, i + 1):      # Inner loop (columns)
        print('*', end=" ")        # Print star in the same line
    print('')                      # Move to the next line

*
* *
* * *
* * * *
* * * * *

In [19]:
i = 1
total = 0
while i <= 20:
    total += i
    i += 1
print("Sum =", total)

Sum = 210

In [20]:
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [21]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1, 6):              # Outer loop (rows)
    for j in range(1, i + 1):      # Inner loop (columns)
        print('*', end=" ")        # Print star in the same line
    print('')                      # Move to the next line

*
* *
* * *
* * * *
* * * * *

In [5]:
for i in range(6,0,-1):
    for j in range(1,i+1):
        print('*', end=" ")        # Print star in the same line
    print('')                      # Move to the next line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
for i in range(1,6):
    print(" " * ( 5- i), end="")   # spaces before stars
    print("* " * i)


# Row 1 (i=1): " " (4 spaces) + "* " → *

# Row 2 (i=2): " " (3 spaces) + "* * " → * *

# Row 3 (i=3): " " (2 spaces) + "* * * " → * * *

# Row 4 (i=4): " " (1 space) + "* * * * " → * * * *

# Row 5 (i=5): "" (0 spaces) + "* * * * * " → * * * * *

    *
   * *
  * * *
 * * * *
* * * * *

In [21]:
num=1
for i in range(1,10):
    for j in range(1,i+1):
        print(num,end=" ")
        num=num+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45

In [24]:

for i in range(1,10):
    for j in range(1,i+1):
        print(j,end=" ")
       
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9